[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group 5gcore-admins
	addPatchSet = group 5gcore-admins
	create = group 5gcore-admins
	push = group 5gcore-admins
	pushMerge = group 5gcore-admins
	submit = group 5gcore-admins
[project]
	description = UDM 5G Core CI team parent repository
[access "refs/heads/*"]
	read = group 5gcore-admins
	pushMerge = group 5gcore-admins
	submit = group 5gcore-admins
	addPatchSet = group 5gcore-admins
	create = group 5gcore-admins
	push = group 5gcore-admins
[plugin "eiffel"]
	enabled = false
[plugin "uploadvalidator"]
	blockedContentTypeWhitelist = false
	maxPathLength = 0
	rejectDuplicatePathnames = false
	rejectDuplicatePathnamesLocale = en
	rejectSubmodule = false
	rejectSymlink = false
	rejectWindowsLineEndings = false
